{% extends '../base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block content %}

    <!-- Page Add Section Begin -->
    <section class="page-add">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="page-breadcrumb">
                      <h3>Reset your password through email</h3>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Page Add Section End -->

  <!-- Contact Section Begin -->
  <div class="contact-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <form class="contact-form" novalidate method="POST">
                    {% csrf_token %}
                      <div class="row">
                        {% if messages %}
                          <div class="col-lg-12">
                            {% include '../message.html' %}
                          </div>
                        {% endif %}
                        <div class="col-lg-12 py-2">
                          <input name="email" type="email" placeholder="Enter your email">
                          {{form.email.errors}}
                        </div>
                          <div class="col-lg-12 py-2  text-right">
                              <button class="btn-block" type="submit">Get email</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- Contact Section End -->

{% endblock content %}