{% extends '../base.html' %}
{% load static %}
{% block title %} Password Reset Done {% endblock title %}

{% block content %}

<section class="page-add">
  <div class="container">
    <div class="row justify-content-center py-4">
      <div class="col-md-12">
        <h4 class="text-monospace text-muted mb-4">Password reset link sent!</h4>
        <hr>
      </div>
      <div class="col-md-12">
        <p class="lead text-dark">
          We've emailed you instructions for setting your password, if an account exists with the email your entered. You shoud receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder. Thank you!!
        </p>
      </div>
    </div>
    
  </div>
</section>

{% endblock content %}