{% extends '../base.html' %}
{% load static %}
{% block title %} Product Details {% endblock title %}

{% block content %}

    <!-- Product Page Section Beign -->
    <section class="product-page">
      <div class="container">
          <!-- <div class="product-control">
              <a href="#">Previous</a>
              <a href="#">Next</a>
          </div> -->
          <div class="row">
              <div class="col-lg-6">
                  <div class="product-slider owl-carousel">
                      <div style="width: 80%;" class="product-img">
                          <figure>
                              <img style="height: 400px;" src="{{product.thumnail}}" alt="">
                          </figure>
                      </div>
                  </div>
                  
              </div>
              <div class="col-lg-6">
                  <div class="product-content">
                      <h2>{{product.title}}</h2>
                      <div class="pc-meta">
                          <h5>${{product.price}}</h5>
                          <div class="rating">
                            {% if product.in_stock %}
                              <div class="p-status">
                                In stock
                              </div>
                            {% else %}
                                <div style="color: red;" class="p-status">
                                Sold out
                              </div>
                            {% endif %}
                          </div>
                      </div>
                      <p>{{product.description}}</p>
                      <ul class="tags">
                          <li><span>Category : </span>{{product.category.title}}</li>
                      </ul>
                      {% if product.in_stock %}
                      <form action="{% url 'add-to-cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <button style="cursor: pointer;" type="submit" class="primary-btn pc-btn">Add to cart</button>
                      </form>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Product Page Section End -->

  <!-- Related Product Section Begin -->
  <section class="related-product spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="section-title">
                      <h2>Related Products</h2>
                  </div>
              </div>
          </div>
          <div class="row">
            {% for related_product in related_products %}
              <div class="col-lg-3 col-sm-6">
                  <div class="single-product-item">
                      <figure>
                          <a href="#"><img src="{{related_product.thumnail}}" height="250px" alt=""></a>
                      </figure>
                      <div class="product-text">
                        <a href="{% url 'product-details' related_product.slug %}">
                            <h6>{{related_product.title}}</h6>
                        </a>
                          <p>${{related_product.price}}</p>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </section>
  <!-- Related Product Section End -->

{% endblock content %}